.IndividualFollowingFormatUserInfo {
  display: flex;
  flex-direction: column;
}

.tweetInteractionBtns {
  width: 20px;
  height: 20px;
}

.tweetInteractionBtns:hover {
  cursor: pointer;
}

.loadingScreen {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  z-index: 100;
}
