#ProfilePage {
  width: 47%;
  display: flex;
  flex-direction: column;
}

#ProfilePageHeader {
  width: 100%;
  height: 50px;
  display: flex;
}

#ProfileBackButton {
  height: 22px;
  width: 22px;
  border-radius: 20px;
  border: none;
  background-color: cyan;
}

.ProfileBackButtonLink {
  margin: auto 12px auto 15px;
}

#ProfileBackButton:hover {
  cursor: pointer;
}

.ProfileNameDisplay {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.ProfileATDisplay {
  font-size: 15px;
  margin-left: 20px;
}

.ProfileBioDisplay {
  font-size: 15px;
  margin-left: 20px;
  padding-top: 10px;
  width: 500px;
  word-wrap: break-word;
}

/* Main profile below */

#ProfilePageProfile {
  border: 1px solid rgba(206, 206, 206, 0.548);
  height: auto;
  width: 100%;
}

#ProfileBgImage {
  width: 100%;
  height: 215px;
  background-color: blanchedalmond;
}

#ProfileUserImgEdit {
  display: flex;
  justify-content: space-between;
  height: 54px;
}

#ProfileUserImage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 4px rgb(255, 255, 255);
  left: 10px;
  bottom: 70px;
}

#ProfileEdit {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: solid 1px gray;
  margin-top: 10px;
  margin-right: 15px;
}

#ProfileEdit:hover {
  background-color: rgb(45, 139, 202);
  cursor: pointer;
  color: white;
}

#ProfileFollowersDiv {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 200px;

  margin-top: 10px;
  margin-left: 20px;
}

.ProfileFollowing {
  width: 50%;
}

#ProfileNav {
  display: flex;
  justify-content: space-evenly;
}

.ProfileNavElement {
  padding: 13px;
  margin-top: 18px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.ProfileNavElement:hover {
  background-color: rgb(45, 139, 202);
  cursor: pointer;
  color: white;
}

.ProfileNavElementDisplay {
  overflow-y: scroll;
}

.ProfileNavElementDisplay::-webkit-scrollbar {
  display: none;
}

/* Editing profile css below  */

.EditProfileOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.EditProfileInner {
  width: 700px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.EditProfileForm {
  overflow-y: scroll;
}

.EditProfileForm::-webkit-scrollbar {
  display: none;
}

.EditProfileCloseBtn {
  position: absolute;
  margin-top: 5px;
  margin-left: 660px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 1;
}

.EditProfileCloseBtn:hover {
  background-color: rgb(194, 194, 194);
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.EditProfileTitle {
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 22px;
  font-weight: bold;
}

.EditProfileArea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
  position: relative;
  top: 40px;
}

.EditProfileImagesArea {
  position: relative;
  top: 40px;
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
  height: 100px;
}

.EditProfileSubHeading {
  font-size: 20px;
  font-weight: 500;
}

.EditInputName {
  margin-top: 10px;
  width: 280px;
  background: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
}

.EditInputBio {
  margin-top: 10px;
  resize: none;
  background: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

.EditProfileImageSelectorBtn {
  opacity: 0;
  width: 100px;
  position: absolute;
  right: 50px;
  z-index: 1;
  height: 100px;
}

.profileImagePreview {
  position: absolute;
  right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.profileBgPreview {
  position: absolute;
  right: 50px;
  width: 150px;
  height: 100px;
}

.EditProfileChangeBtn {
  position: relative;
  left: 500px;
  bottom: 350px;
  padding: 12px 20px 12px 20px;
  border-radius: 30px;
  font-size: 15px;
  background-color: rgb(203, 208, 211);
}

.EditProfileChangeBtn:hover {
  background-color: rgb(45, 139, 202);
  cursor: pointer;
  color: white;
}

#FollowScreenTabs {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.FollowScreenTabOptions {
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
}

.FollowScreenTabOptions:hover {
  background-color: rgb(45, 139, 202);
  cursor: pointer;
  color: white;
}

.ShowFollowersOrFollowing {
  overflow-y: scroll;
}

.ShowFollowersOrFollowing::-webkit-scrollbar {
  display: none;
}
